* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainContainer {
    padding:2%;
}

#mainContainer ul {
    list-style-type: none;
}

#weather-form {
    align-content: left;
    left: 1%;
}

#locationInput {
    max-width: 100%;
}

#five-day-forecast-goes-here, #currentResults{
    height: 300px;
    font-size: 20px;
    line-break: normal;
}

header {
    display: block;
    color:black;
}

.forecast-div {
    background-color:rgba(55, 161, 202, 0.822);
    color: white;
    box-shadow: rgba(160, 131, 131, 0.719) 0px 2px 8px 0px;
    border-radius: 25px;
    margin: 10px;
    line-break: normal;
}

.historyBlock {
    box-shadow: rgba(160, 131, 131, 0.719) 0px 2px 8px 0px;
    border-style: dashed;
    margin: 30px;
    text-align: center;
    max-width: 100%;
}
#History-goes-here {
    line-break: normal;
    color:blue;
    display: block;
    max-width: 100%;
    width: 250px;
}

.green {
    background-color: green;
}

.red {
    background-color:red;
}